@page
@model EventApp.Pages.JoinEventModel
@{
    ViewData["Title"] = "Join Event";
}

<h1>@Model.Event.Title.</h1>
<p>Description: @Model.Event.Description</p>
<p>Place: @Model.Event.Place</p>
<p>Address: @Model.Event.Address</p>
<p>Date: @Model.Event.Date</p>
<p>Spots Available: @Model.Event.SpotsAvailable</p>
<h2>Organizer Info</h2>
<p>Name: @Model.Event.Organizer.Name</p>
<p>Email: @Model.Event.Organizer.Email</p>
<p>Phone: @Model.Event.Organizer.PhoneNumber</p>

@if (Model.req == "get")
{
    <form method="post">
        <input type="submit" value="Join Event" asp-route-id="@Model.Event.ID" class="btn btn-secondary"/>
    </form>
}

@if (Model.req == "post")
{
    <h2>Successfully joined @Model.Event.Title! See you there!</h2>
    <a asp-page="/Events" class="btn btn-secondary">View more events</a>
    <a asp-page="/MyEvents" class="btn btn-secondary">View your events</a>
}
